{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">

        <h4 class="fw-bold  mb-4">Add Product</h4>
        <!-- Basic Layout -->
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-8">
                <div class="form-background  mb-4">

                    <div class="card-body">
                        <form action="/admin/products/{{NOW_CAT}}/add-product" method="post"
                            enctype="multipart/form-data" class="product-add-admin">
                            {{!-- Image Setting --}}
                            <div class="image-div">

                                <img id="image-show-0" src="" style="display:none" class="image-view" alt="">
                                <img id="image-show-1" src="" style="display:none" class="image-view" alt="">
                                <img id="image-show-2" src="" style="display:none" class="image-view" alt="">
                                <img id="image-show-3" src="" style="display:none" class="image-view" alt="">

                                <div id="choose-image-div" onclick="chooseSlider()" data-title="Choose image"
                                    class="image-add-button">
                                    <i class='bx bxs-camera-plus'></i>
                                </div>
                                <input type="file" onchange="viewImage(event)" hidden accept="image/jpg, image/jpeg"
                                    required multiple name="image" id="inputChoose" max="4">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-fullname">Title</label>
                                <input type="text" class="form-control" id="basic-default-fullname" name="title"
                                    required placeholder="Paint title" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Size</label>
                                <input type="text" class="form-control" id="basic-default-company" name="size" required
                                    placeholder="Eg : 24in X 24in" />
                            </div>

                            <input type="text" class="form-control" id="basic-default-company" name="category"
                                value="{{NOW_CAT}}" required hidden />


                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Medium</label>
                                <select class="form-select" id="exampleFormControlSelect1" name="medium" required
                                    aria-label="Default select example">

                                    {{#each optionHelpers.medium}}
                                    <option value="{{this.name}}">{{this.name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Surface</label>
                                <select class="form-select" id="exampleFormControlSelect1" name="surface" required
                                    aria-label="Default select example">

                                    {{#each optionHelpers.surface}}
                                    <option value="{{this.name}}">{{this.name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Quality</label>
                                <select class="form-select" id="exampleFormControlSelect1" name="quality" required
                                    aria-label="Default select example">

                                    {{#each optionHelpers.quality}}
                                    <option value="{{this.name}}">{{this.name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Price</label>
                                <input type="number" class="form-control" id="basic-default-company" name="price"
                                    required placeholder="₹ 000.00" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Original Price</label>
                                <input type="number" class="form-control" id="basic-default-company" name="ogPrice"
                                    required placeholder="₹ 000.00" />
                            </div>



                            <div class="mb-3">
                                <lable class="form-label" for="basic-default-message">Description</label>
                                    <textarea id="basic-default-message" class="form-control" style="description"
                                        name="description" placeholder="About paint"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Create New</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{{!-- Check active page --}}
<p id="check-active-page" hidden>{{NOW_CAT}}</p>


<script>
    document.getElementById('products').classList += " active open"
    let check = document.getElementById('check-active-page').innerHTML
    check = "pro" + check
    document.getElementById(check).classList += " active"
</script>