{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">New Artist List</h4>
        <!-- Basic Layout -->

        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>AR ID</th>
                            <th>FULL NAME</th>
                            <th>EMAIL ID</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each artist}}
                        <tr>
                            <td></td>
                            <td>{{this.arId}}</td>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>

                            <td>
                                <span class="table-action-td">
                                    <a href="/admin/artist/new-account/{{this.arId}}/view " data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="View">
                                        <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                            <span class="tf-icons bx bxs-show"></span>
                                        </button>
                                    </a>

                                    <a href="/admin/artist/{{this.arId}}/account-approve"
                                        onclick="return confirm('Approve this Artist ?')" data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="Active">
                                        <button type="button" class="btn rounded-pill btn-icon btn-success">
                                            <span class="tf-icons bx bx-check"></span>
                                        </button>
                                    </a>
                                    {{#if this.pending}}
                                    <a data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                                        data-bs-html="true" title="Reject"
                                        href="/admin/artist/{{this.arId}}/account-reject"
                                        onclick="return confirm('Reject this Artist ?')">
                                        <button type="button" class="btn rounded-pill btn-icon btn-danger">
                                            <span class="tf-icons bx bx-x"></span>
                                        </button>
                                    </a>
                                    {{/if}}
                                </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{!-- Check active page --}}



<script>
    document.getElementById('artist').classList += " active open"
    document.getElementById('artistNot').classList += " active"
</script>