{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">Artist List</h4>
        <!-- Basic Layout -->

        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>AR ID</th>
                            <th>Profile</th>
                            <th>FULL NAME</th>
                            <th>EMAIL ID</th>
                            <th>STATUS</th> 
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each artist}}
                        <tr>
                            <td></td>
                            <td>{{this.arId}}</td>
                            <td><img class="table-list-image" src="/images/artist/{{this.image}}" alt="" onerror="this.onerror=null;callfun(this);"></td>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td > <span class="status-{{this.status}} status">{{this.status}}</span></td>

                            <td>
                                <span class="table-action-td">
                                    <a href="/admin/artist/{{this.arId}}/view ">
                                        <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                            <span class="tf-icons bx bxs-show"></span>
                                        </button>
                                    </a>

                     
                                </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{!-- Check active page --}}
<p id="check-active-page" hidden>{{NOW_CAT}}</p>


<script>
    document.getElementById('artist').classList += " active open"
    document.getElementById('artistOk').classList += " active"
</script>