{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">New Artist List</h4>
        <!-- Basic Layout -->
       
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>AR ID</th>
                            <th>FULL NAME</th>
                            <th>EMAIL ID</th>
                           
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each artist}}
                        <tr>
                            <td></td>
                            <td>{{this.arId}}</td>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            
                            <td>
                                <a href="/admin/products/{{../NOW_CAT}}/{{this.prId}}/view " title="view">
                                    <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                        <span class="tf-icons bx bxs-show"></span>
                                    </button>
                                </a>
                                <a href="/admin/products/{{../NOW_CAT}}/{{this.prId}}/edit " title="Active"
                                 onclick="return confirm('Active this account?')">
                                    <button type="button" class="btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bx-check"></span>
                                    </button>
                                </a>
                                <a href="/admin/products/{{../NOW_CAT}}/{{this.prId}}/delete" title="Reject"
                                    onclick="return confirm('Reject this account?')">
                                    <button type="button" class="btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-x"></span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

{{!-- Check active page --}}
<p id="check-active-page" hidden>{{NOW_CAT}}</p>


<script>
    document.getElementById('artist').classList += " active open"
    document.getElementById('artistNot').classList += " active"
</script>