{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">Order List</h4>
        <!-- Basic Layout -->

        <!-- Hoverable Table rows -->
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Date</th>
                            <th>OR ID</th>
                            <th>Image</th>
                            <th>PR ID</th>
                            <th>Title</th>
                            
                            {{!-- <th>Methord</th> --}}
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each order}}
                        <tr>

                            <td></td>
                            <td>{{this.date}}</td>
                            <td>{{this.orId}}</td>
                            <td><img style="width: 40px; hight:40px; border-radius: 5px;"
                                    src="/images/products/{{this.image.[0]}}"></td>
                           
                            <td>₹{{this.prId}}</td>
                            <td>{{this.title}}</td>
                            <td><span class="status status-{{this.status}}">{{this.status}}</span></td>
                            <td>
                                <span class="table-action-td">
                                    <a href="/admin/order-list/details?orId={{this.orId}}&prId={{this.prId}}" data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                                        title="view order">
                                        <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                            <span class="tf-icons bx bxs-show"></span>
                                        </button>
                                    </a>
                                    {{!-- <a href="/admin/order-list/xl-file?orId={{this.orId}}" data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                                        title="Download XL file">
                                        <button type="button" class="btn rounded-pill btn-icon btn-success">
                                            <i class='bx bxs-file-archive'></i>
                                        </button>
                                    </a> --}}
                                </span>
                            </td>

                        </tr>
                        {{/each}}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('order').classList += " active"
</script>