{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">User List</h4>
        <!-- Basic Layout -->   
       
        <!-- Hoverable Table rows -->
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>UR ID</th>
                            <th>Profile</th>
                            <th>Full name</th>
                            <th>Email Id</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each user}}
                        <tr>
                            <td></td>
                            <td>{{this.urId}}</td>
                            <td><img class="table-list-image" src="/images/user/{{this.image}}" alt="" onerror="this.onerror=null;callfun(this);"></td>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td>UnBlock</td>
                            <td>
                                 <span class="table-action-td">
                                <a href="/admin/user-list/{{this.urId}}/view ">
                                    <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                        <span class="tf-icons bx bxs-show"></span>
                                    </button>
                                </a>
                               
                             
                                 </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('user').classList += " active"
</script>