{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">User List</h4>
        <!-- Basic Layout -->

        <!-- Hoverable Table rows -->
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>UR ID</th>
                            <th>Profile</th>
                            <th>Full name</th>
                            <th>Email Id</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each user}}
                        <tr>
                            <td></td>
                            <td>{{this.urId}}</td>
                            <td><img class="table-list-image" src="/images/user/{{this.image}}" alt=""
                                    onerror="this.onerror=null;callfun(this);"></td>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td><span class="status status-{{this.status}}">{{this.status}}</span></td>
                            <td>
                                <span class="table-action-td">
                                    <a href="/admin/user-list/{{this.urId}}/view " data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                                        title="view user">
                                        <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                            <span class="tf-icons bx bxs-show"></span>
                                        </button>
                                    </a>
                                    {{#if this.active}}
                                    <a data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                                        data-bs-html="true"
                                        onclick="BSconfirm('Block this user account ?','/admin/user-list/{{this.urId}}/blocked "
                                        title="Block user')">
                                        <button type="button" class="btn rounded-pill btn-icon btn-danger">
                                            <span class="tf-icons bx bxs-user-x"></span>
                                        </button>
                                    </a>
                                    {{/if}}
                                    {{#if this.blocked}}
                                    <a title="Active user" data-bs-toggle="tooltip" data-bs-offset="0,4"
                                        data-bs-placement="top" data-bs-html="true"
                                        onclick="BSconfirm('Active this user account ?','/admin/user-list/{{this.urId}}/active')">
                                        <button type="button" class="btn rounded-pill btn-icon btn-success">
                                            <span class="tf-icons bx bxs-user-check"></span>
                                        </button>
                                    </a>
                                    {{/if}}
                                </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('user').classList += " active"
</script>