{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        {{!-- Header --}}
        <h4 class="fw-bold  mb-4">User List</h4>
        <!-- Basic Layout -->   
        <div class="pb-3 d-flex justify-content-end">
            <a href="/admin/user-list/add-user">
                <button type="button" class="btn btn-success"><i class='bx bx-plus-circle'></i> Add User</button>
            </a>
        </div>
        <!-- Hoverable Table rows -->
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>UR ID</th>
                            <th>Profile</th>
                            <th>Full name</th>
                            <th>Email Id</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each user}}
                        <tr>
                            <td></td>
                            <td>{{this.urId}}</td>
                            <td></td>
                            <td>{{this.firstName}} {{this.LastName}}</td>
                            <td>{{this.email}}</td>
                            <td>UnBlock</td>
                            <td>
                                 <span class="table-action-td">
                                <a href="/admin/user-list/{{this.urId}}/view ">
                                    <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                        <span class="tf-icons bx bxs-show"></span>
                                    </button>
                                </a>
                               
                                <a href="/admin/user-list/{{this.urId}}/delete"
                                    onclick="return confirm('Are you remove this product?')">
                                    <button type="button" class="btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </a>
                                 </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

<script>
    document.getElementById('user').classList += " active"
</script>