{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        <h4 class="fw-bold  mb-4">{{artist.userName}}</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">

                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/artist/{{artist.arId}}/view"><i
                                class="bx bx-user me-1"></i>
                            Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/artist/{{artist.arId}}/pending-items"><i
                                class="bx bx bxs-hourglass-top me-1"></i> Pending items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/artist/{{artist.arId}}/products"><i class='bx bxs-image'></i>
                            Products</a>
                    </li>


                </ul>


                <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->

                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-start align-items-sm-center  gap-4">

                                <img src="/images/artist/{{artist.image}}" alt="user-avatar" class="d-block rounded"
                                    height="100" width="100" id="uploadedAvatar"
                                    onerror="this.onerror=null;callfun(this);" />
                                <div class="button-wrapper">
                                    <h5 class="text-dark mb-1 ">{{artist.firstName}} {{artist.lastName}}</h5>
                                    <p class="text-muted mb-1">AR ID : {{artist.arId}}</p>
                                </div>
                            </div>
                            {{#if artist.active}}
                            <div class="mt-3">
                                <p>Status : <span class="status status-{{artist.status}}">{{artist.status}}</span></p>
                                <a title="Block artist" data-bs-toggle="tooltip" data-bs-offset="0,4"
                                    data-bs-placement="top" data-bs-html="true"
                                    onclick="BSconfirm('Block this artist account ?','/admin/artist/all-artist/{{artist.arId}}/blocked')"
                                    class="btn btn-danger text-white w-100"><i class='bx bxs-user-x'></i> Block</a>
                            </div>
                            {{/if}}
                            {{#if artist.blocked}}
                            <div class="mt-3">
                                <p>Status : <span class="status status-{{artist.status}}">{{artist.status}}</span></p>
                                <a class="btn btn-success text-white w-100" title="Active artist"
                                    data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                                    data-bs-html="true"
                                    onclick="BSconfirm('Active this artist account ?','/admin/artist/all-artist/{{artist.arId}}/active')"><i
                                        class='bx bxs-user-check'></i>
                                    Active</a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <hr class="my-0" />

                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input class="form-control" type="text" id="firstName" name="firstName"
                                    value="{{artist.firstName}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input class="form-control" type="text" id="lastName" name="lastName"
                                    value="{{artist.lastName}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="userName" class="form-label">User Name</label>
                                <input class="form-control" type="text" id="userName" name="userName"
                                    value="{{artist.userName}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="email" id="email" name="email"
                                    value="{{artist.email}}" readonly />
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="mobile" class="form-label">Mobile</label>
                                <input type="number" class="form-control" id="mobile" name="mobile"
                                    value="{{artist.mobile}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="place" class="form-label">Place</label>
                                <input type="text" class="form-control" id="place" name="place" value="{{artist.place}}"
                                    readonly />
                            </div>



                        </div>
                        <!-- /Account -->
                    </div>

                    <hr class="my-0" />
                    <div class="card-body">
                        <h6>Address</h6>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="Name" class="form-label">Name</label>
                                <input class="form-control" type="text" id="Name" name="name"
                                    value="{{artist.address.name}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input class="form-control" type="number" id="phone" name="phone"
                                    value="{{artist.address.phone}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="pincode" class="form-label">Pincode</label>
                                <input class="form-control" type="number" id="pincode" name="pincode"
                                    value="{{artist.address.pincode}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="locality" class="form-label">Locality</label>
                                <input class="form-control" type="text" id="locality" name="locality"
                                    value="{{artist.address.locality}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="area" class="form-label">Area/Street</label>
                                <input class="form-control" type="text" id="area" name="area"
                                    value="{{artist.address.area}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="city" class="form-label">City/District/town</label>
                                <input class="form-control" type="text" id="city" name="city"
                                    value="{{artist.address.city}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="state" class="form-label">State</label>
                                <input class="form-control" type="text" id="state" name="state"
                                    value="{{artist.address.state}}" readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="landmark" class="form-label">Landmark</label>
                                <input class="form-control" type="text" id="landmark" name="landmark"
                                    value="{{artist.address.landmark}}" readonly />
                            </div>
                        </div>
                        <!-- /Account -->
                    </div>

                </div>
            </div>
        </div>
        <!-- / Content -->
    </div>
</div>


<script>
    document.getElementById('artist').classList += " active open"
    document.getElementById('artistOk').classList += " active"
</script>