{{>admin-top}}
{{>admin-side}}
<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        <h4 class="fw-bold  mb-4">{{artist.userName}}</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    {{#if artist.active}}
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>
                            Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages-account-settings-notifications.html"><i
                                class="bx bx-bell me-1"></i> Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages-account-settings-connections.html"><i
                                class="bx bx-link-alt me-1"></i> Connections</a>
                    </li>
                    {{/if}}
                    {{#if artist.pending}}
                    <li class="nav-item">
                        <a class=" btn btn-success " href="/admin/artist/{{artist.arId}}/account-approve" onclick="return confirm('Approve this Artist ?')"><i class="bx bx-check me-1"></i> Approve</a>
                        <a class="btn btn-danger mx-1" href="/admin/artist/{{artist.arId}}/account-reject" onclick="return confirm('Reject this Artist ?')"><i class="bx bx-x me-1"></i> Reject</a>
                    </li>
                    {{/if}}
                </ul>
                {{#if artist.pending}}
                <p class="alert alert-info "> <i class='bx bx-info-circle '></i> Contact Artist and Approve or Reject
                    artist account</p>
                {{/if}}
                <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    {{#if artist.active}}
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="/assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100"
                                width="100" id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden
                                        accept="image/png, image/jpeg" />
                                </label>
                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>

                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    {{/if}}
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input class="form-control" type="text" id="firstName" value="{{artist.firstName}}"
                                    readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input class="form-control" type="text" id="lastName" value="{{artist.lastName}}"
                                    readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="userName" class="form-label">User Name</label>
                                <input class="form-control" type="text" id="userName" value="{{artist.userName}}"
                                    readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="text" id="email" value="{{artist.email}}" readonly />
                            </div>

                            {{#if artist.active}}
                            <div class="mb-3 col-md-6">
                                <label for="organization" class="form-label">Mobile</label>
                                <input type="text" class="form-control" id="organization" value="{{artist.mobile}}"
                                    readonly value="mobile" />
                            </div>
                            {{/if}}


                        </div>
                        <!-- /Account -->
                    </div>

                </div>
            </div>
        </div>
        <!-- / Content -->
    </div>
</div>
</div>

<script>
    document.getElementById('artist').classList += " active open"
   
</script>