{{!-- Navbar --}}
<nav class="navbar navbar-expand navbar-dark bg-dark user-navbar ">
    <div class="container-fluid">
        <div class="user-header">

            <div class="right">
                <a href="/">
                    <img src="/images/icon/logo.png" alt="logo">
                    <h3>Bristles</h3>
                </a>
            </div>

            <div class="left">
                <div class="items">
                    {{#if toggleIcon}}
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    {{/if}}
                    {{!-- Search Input --}}
                    <form action="/search" method="get" class="d-none d-sm-block " autocomplete="off">
                        <div class="input-group">
                            <input type="text" class="form-control  bg-dark text-light" id="search" name="q"
                                value="{{question}}" placeholder="Search..." aria-describedby="search product" />
                            <button type="submit" id="search"
                                class="input-group-text cursor-pointer bg-dark text-light"><i
                                    class='bx bx-search search-icon'></i></button>
                        </div>
                    </form>
                    {{!-- Cart Icon --}}
                    <a href="" class="">
                        <div class="icon-div ">
                            <i class='bx bx-cart-alt'></i>
                        </div>
                    </a>
                    {{!-- Profile Toggle --}}
                    <ul class="navbar-nav flex-row align-items-center ms-auto  ">

                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    {{#if user}}
                                    <img src="/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    {{else}}
                                    <img src="/images/avatar/avatar.png" alt class="w-px-40 h-auto rounded-circle" />
                                    {{/if}}
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {{#if user}}
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="/assets/img/avatars/1.png" alt
                                                        class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">{{user.userName}}</span>
                                                <small class="text-muted">UR ID : {{user.urId}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                {{/if}}
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                {{#if user}}
                                <li>
                                    <a class="dropdown-item" href="/sign-out">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Sign Out</span>
                                    </a>
                                </li>
                                {{else}}
                                <li>
                                    <a class="dropdown-item" href="/sign-in">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Sign In</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/artist/sign-in">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Artist Sign In</span>
                                    </a>
                                </li>
                                {{/if}}
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>

                </div>

            </div>
            <div class="bottom  d-block d-sm-none">
                {{!-- Search Input --}}
                <form action="/search" method="get" class=" ">
                    <div class="input-group">
                        <input type="text" class="form-control  bg-dark text-light" id="search" name="q"
                            value="{{question}}" placeholder="Search..." aria-describedby="search product" />
                        <button type="submit" id="search" class="input-group-text cursor-pointer bg-dark text-light"><i
                                class='bx bx-search search-icon'></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>