{{>user-top}}

<div class="container user-page mb-5">
    {{#if products}}
    <h4 class="fw-bold  mb-3 pt-4">Checkout</h4>
    <div class="row ">
        <div class="col-lg-8 mt-3">
            <h5 class="m-0 mb-2">Delivery Address</h5>
            <div class="row p-0 pe-lg-3 ">
                <div class="card-body accordion accordion-without-arrow p-2 bg-white rounded-3">
                    <div class=" border border-secondary rounded-3 ">
                        <div class="p-1">
                            <h6 class="m-0 text-primary accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#accordionIcon-5" aria-controls="accordionIcon-5"><i
                                    class='bx bx-plus'></i> Add New Address</h6>
                        </div>
                        <form action="/add-address" id="accordionIcon-5" class="accordion-collapse collapse"
                            method="post" data-bs-parent="#accordionIcon">
                            <div class="row px-3 ">
                                <div class="mb-3 col-md-6">
                                    <label for="Name" class="form-label">Name</label>
                                    <input class="form-control" type="text" id="Name" required name="name" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input class="form-control" type="number" id="phone" required name="phone" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="pincode" class="form-label">Pincode</label>
                                    <input class="form-control" type="number" id="pincode" required name="pincode" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="locality" class="form-label">Locality</label>
                                    <input class="form-control" type="text" id="locality" required name="locality" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="area" class="form-label">Area/Street</label>
                                    <input class="form-control" type="text" id="area" required name="area" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="city" class="form-label">City/District/town</label>
                                    <input class="form-control" type="text" id="city" required name="city" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="state" class="form-label">State</label>
                                    <input class="form-control" type="text" id="state" required name="state" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="landmark" class="form-label">Landmark</label>
                                    <input class="form-control" type="text" id="landmark" required name="landmark" />
                                </div>
                                <div class="mb-3 d-flex justify-content-end col-12 ">
                                    <button type="reset"
                                        class="btn btn-secondary col-md-3 col-sm-5 col-6 me-1">Reset</button>
                                    <button type="submit"
                                        class="btn btn-primary col-md-3 col-sm-5 col-6">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{#each address.addresses}}
                    <div class=" border border-secondary rounded-3 mt-2">
                        <div class=" m-0 p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <input class="me-2" {{#if this.current}}checked{{/if}} id="selectedAdId" type="radio"
                                    name="selectedAdId" onchange="changeCurrentAddress('{{this.adId}}')">
                                <div>
                                    <p class=" m-0"><strong>{{this.name}} - {{this.phone}}</strong> {{#if
                                        this.current}}<span class="text-white bg-secondary px-1 rounded-1"> work
                                        </span>{{/if}}</p>
                                    <p class="m-0">{{this.locality}}, {{this.area}}, {{this.city}}, - {{this.pincode}},
                                        {{this.state}} </p>
                                </div>
                            </div>
                            {{#if this.current}}
                            <div class="d-flex" style="height: 28px;">
                                <div class=" m-0 text-white bg-primary rounded-3 p-1  collapsed cursor-pointer "
                                    data-bs-toggle="collapse" data-bs-target="#accordionIcon-{{@key}}"
                                    aria-controls="accordionIcon-{{@key}}"><i class='bx bxs-edit-alt'></i> </div>
                                <a onclick="deleteAddress('{{this.adId}}')"
                                    class="m-0 text-white bg-danger rounded-3 p-1 ms-1 cursor-pointer"><i
                                        class='bx bx-x'></i>
                                </a>
                            </div>
                            {{/if}}
                        </div>
                        <form action="/edit-address/{{this.adId}}" method="post" id="accordionIcon-{{@key}}"
                            class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
                            <div class="row px-3 ">
                                <div class="mb-3 col-md-6">
                                    <label for="Name" class="form-label">Name</label>
                                    <input class="form-control" type="text" id="Name" value="{{this.name}}"
                                        name="name" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input class="form-control" type="number" id="phone" value="{{this.phone}}"
                                        name="phone" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="pincode" class="form-label">Pincode</label>
                                    <input class="form-control" type="number" id="pincode" value="{{this.pincode}}"
                                        name="pincode" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="locality" class="form-label">Locality</label>
                                    <input class="form-control" type="text" id="locality" value="{{this.locality}}"
                                        name="locality" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="area" class="form-label">Area/Street</label>
                                    <input class="form-control" type="text" id="area" value="{{this.area}}"
                                        name="area" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="city" class="form-label">City/District/town</label>
                                    <input class="form-control" type="text" id="city" value="{{this.city}}"
                                        name="city" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="state" class="form-label">State</label>
                                    <input class="form-control" type="text" id="state" value="{{this.state}}"
                                        name="state" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="landmark" class="form-label">Landmark</label>
                                    <input class="form-control" type="text" id="landmark" value="{{this.landmark}}"
                                        name="landmark" />
                                </div>
                                <div class="mb-3 d-flex justify-content-end col-12 ">

                                    <button type="submit"
                                        class="btn btn-primary col-md-3 col-sm-5 col-6">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <h5 class="m-0 mt-4 mb-2">Order Summery</h5>
                {{#if BuyNow}}
                {{#each products}}
                <div class="col-12 p-0 pe-lg-3 ">
                    <div class="card my-2">
                        <div class="row p-1">
                            <div class="col-3">
                                <img class="card-img card-img-left" style="border-radius: 10px;"
                                    src="/images/products/{{this.image.[0]}}" alt="Card image" />
                            </div>
                            <div class="col-9">
                                <div class="card-body p-1" style="">
                                    <a href="/list/{{this.category}}/{{this.prId}}/view" target="_blank">
                                        <h5 class="card-title">{{this.title}}_{{this.prId}}</h5>
                                    </a>
                                    <p class="card-text text-secondary">{{this.category}} _
                                        {{this.medium}} _ {{this.quality}}<br>
                                        {{#if this.arId}}
                                        Artist ID : {{this.arId}}
                                        {{else}}
                                        Seller : Bristles Company
                                        {{/if}}
                                    </p>
                                    {{!-- <p class="card-text">Seller name</p> --}}
                                    <div class="card-price mt-2 d-flex align-items-center ">
                                        <h4 class="text-dark m-0 me-1">₹ {{this.price}}</h4>
                                        {{#if this.ogPrice}}
                                        <h6 class="m-0 me-1 text-decoration-line-through">₹{{this.ogPrice}}
                                        </h6>
                                        <i class='bx bxs-offer text-success'></i>
                                        <h6 class="m-0 me-1 text-success"> {{this.percentage}}% off</h6>
                                        {{/if}}
                                    </div>
                                    <div class="d-flex mt-2 ">
                                        <button class="btn btn-sm btn-danger text-white d-flex me-1"
                                            onclick="removeProduct('{{this.prId}}')"><i
                                                class='bx bx-trash me-0 me-sm-1'></i>
                                            <span class="d-none d-sm-block">Remove</span></button>
                                    </div>
                                    {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                {{#each products}}
                <div class="col-12 p-0 pe-lg-3 ">
                    <div class="card my-2">
                        <div class="row p-1">
                            <div class="col-3">
                                <img class="card-img card-img-left" style="border-radius: 10px;"
                                    src="/images/products/{{this.cartItems.image.[0]}}" alt="Card image" />
                            </div>
                            <div class="col-9">
                                <div class="card-body p-1" style="">
                                    <a href="/list/{{this.cartItems.category}}/{{this.cartItems.prId}}/view"
                                        target="_blank">
                                        <h5 class="card-title">{{this.cartItems.title}}_{{this.cartItems.prId}}</h5>
                                    </a>
                                    <p class="card-text text-secondary">{{this.cartItems.category}} _
                                        {{this.cartItems.medium}} _ {{this.cartItems.quality}}<br>
                                        {{#if this.cartItems.arId}}
                                        Artist ID : {{this.cartItems.arId}}
                                        {{else}}
                                        Seller : Bristles Company
                                        {{/if}}
                                    </p>
                                    {{!-- <p class="card-text">Seller name</p> --}}
                                    <div class="card-price mt-2 d-flex align-items-center ">
                                        <h4 class="text-dark m-0 me-1">₹ {{this.cartItems.price}}</h4>
                                        {{#if this.cartItems.ogPrice}}
                                        <h6 class="m-0 me-1 text-decoration-line-through">₹{{this.cartItems.ogPrice}}
                                        </h6>
                                        <i class='bx bxs-offer text-success'></i>
                                        <h6 class="m-0 me-1 text-success"> {{this.cartItems.percentage}}% off</h6>
                                        {{/if}}
                                    </div>
                                    <div class="d-flex mt-2 ">
                                        <button class="btn btn-sm btn-danger text-white d-flex me-1"
                                            onclick="removeProduct('{{this.cartItems.prId}}')"><i
                                                class='bx bx-trash me-0 me-sm-1'></i>
                                            <span class="d-none d-sm-block">Remove</span></button>
                                    </div>
                                    {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>
        </div>

        <div class=" col-lg-4 mt-2">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-12 p-0 order-1 order-md-2 order-lg-1">
                    <div class="card">
                        <div class="card-body">
                            <h6>PRICE DETAILES</h6>
                            <hr>
                            <div class="d-flex justify-content-between text-dark">
                                <p>Price (<span id="cart-count-page">0</span> Items)</p>
                                <p><strong class="text-bold">₹{{ogTotal}}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between text-dark">
                                <p>Discount</p>
                                <strong class="" style="color: rgb(0, 182, 0);">-₹{{discount}}</strong>
                            </div>
                            <div class="d-none justify-content-between text-dark" id="couponDiv">
                                <p>Coupon offer</p>
                                <strong class="" id="couponValue" style="color: rgb(0, 182, 0);">0</strong>
                            </div>
                            <div class="d-flex justify-content-between text-dark">
                                <p>Delivery Charge</p>
                                <p class="" style="color: rgb(0, 182, 0);">FREE</p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between text-dark">
                                <h6 class="text-dark m-0">Total Amount</h6>
                                <div class="d-flex">
                                    <h5 class="text-dark m-0">₹</h5>
                                    <h5 class="text-dark m-0" id="totalPrice">{{total}}</h5>
                                </div>
                            </div>
                            <hr>
                            <p style="color: rgb(0, 182, 0); " class="m-0">You will save ₹<span
                                    id="discoundPrice">{{discount}}</span>.00 on this order
                            </p>
                            {{!-- <a href="" class="btn btn-warning w-100">PLACE ORDER</a> --}}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-12 mt-lg-2 p-0 ps-md-1 ps-lg-0 mt-2 
                    mt-md-0 order-2 order-md-1 pe-md-2 pe-lg-0">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h6>ACCESS COUPON</h6>
                            <div class="input-group">
                                <input id="couponInput" type="text" class="form-control" placeholder="Coupon Code"
                                    aria-label="Coupon Code" aria-describedby="button-addon2" />
                                <button onclick="checkCouponCode()" class="btn btn-warning" type="button"
                                    id="button-addon2">Submit</button>
                            </div>
                            <small class="text-danger" style="display:none" id="couponAlert"><i
                                    class='bx bxs-info-circle'></i> Error </small>
                        </div>
                    </div>
                    <div class="col-12  p-0 order-1 order-md-2 order-lg-1">
                        <div class="card">
                            <div class="card-body">
                                <h6>PAYMENT OPTIONS</h6>
                                <hr>
                                <form action="/order" method="post" id="payment">
                                    <div class="d-flex  text-dark">
                                        <input type="radio" id="cod" name="payment" value="COD" required>
                                        <label class="ms-3" for="cod">COD</label>
                                    </div>
                                    <div class="d-flex  text-dark mt-3">
                                        <input type="radio" id="online" name="payment" value="online">
                                        <label class="ms-3" for="online">ONLINE PAYMENT</label>
                                    </div>
                                    <button class="btn btn-warning w-100 mt-3">CHECK OUT</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body">
                            <p class="m-0 text-center "><i class='bx bxs-lock-alt mb-2'></i> <br>Safe and Secure
                                Payments. Easy
                                returns. <br>100% Authentic products.</p>
                        </div>
                    </div>
                </div>
                {{#if BuyNow}}
                <input type="text" name="prId" id="buynowPrId" value="{{products.[0].prId}}" hidden>
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="check-account">
        <div class="box-boreder ">
            <div>
                <img class="" src="/images/icon/cart-empty.png" alt="">
                <h4 class="mt-3">Your cart is empty!<br>
                    <P class="mt-3">Add items to it now.</P>
                    <a href="/" class="btn btn-primary mt-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
    {{/if}}

</div>


<script>

    $("#payment").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');   // Url is /order
        let amount = document.getElementById('totalPrice').innerHTML
        let couponCode = document.getElementById('couponInput').value
        let buyNow = document.getElementById('buynowPrId').value
      
        let prId = buyNow == '' ? null : buyNow
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: {
                amount,
                cpCode: couponCode,
                prId,
                methord: form.serialize(), // serializes the form's elements.
            },
            success: function (response) {
                if (response.codSuccess) {
                    location.replace('/checkout/payment/success')
                } else if (response) {
                    razorepayPayment(response)
                }
            }
        });

    });

</script>