{{>user-top}}

<div class="slider user-page">
    {{#if carousel}}
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <ol id="carousel-indicators" class="carousel-indicators">
            {{#each carousel}}
            <li data-bs-target="#carouselExample" data-bs-slide-to="{{@key}}" class=""></li>
            {{/each}}
        </ol>
        <div id="carousel-inner" class="carousel-inner">

            {{#each carousel}}
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/carousel/{{this.image}}" alt="First slide" />
            </div>
            {{/each}}

        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    {{/if}}

</div>

{{!-- Normal Pages --}}
<div class="container ">
    <div class=" flex-grow-1 container-p-y row justify-content-center">
        <h4 class="fw-bold  mb-4">CATEGORY LIST</h4>
        {{#each category}}
        <div class="col-sm-6 col-lg-4 mb-4">
            <a class="text-secondary" href="/list/{{this.title}}">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text "><small class="text-muted">Click to View products</small></p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
        {{#if six}}
        <div class="d-flex justify-content-center">
            <a href="/category-list" class="text-dark btn" style="text-decoration:underline ;">See more <i class='bx bx-chevron-right'></i></a>
        </div>
        {{/if}}
    </div>
    <div class=" flex-grow-1 row justify-content-center">
        <h4 class="fw-bold  mb-4">LATEST PAINTS</h4>
        {{#each latestProducts}}
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card h-100">
                <div style="position:relative;">
                    <a class="text-secondary" href="/list/{{this.category}}/{{this.prId}}/view">
                        <img class="card-img-top" src="/images/products/{{this.image.[0]}}" alt="product image" />
                    </a>
                    <div class="heart-icon " onclick="wishProduct('{{this.prId}}')" data-bs-toggle="tooltip"
                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="Wish product">
                        <i class='bx bxs-heart' {{#if this.wishlist.[0]}} style="color: red;" {{/if}}
                            id="icon{{this.prId}}"></i>
                    </div>
                    <div class="heart-icon-count ">
                        <i class='bx bx-heart'></i>
                        <p class="m-0" id="wishCount{{this.prId}}">{{#if
                            this.wishCount}}{{this.wishCount}}{{else}}0{{/if}}
                        </p>
                    </div>
                </div>
                <a class="text-secondary" href="/list/{{this.category}}/{{this.prId}}/view">
                    <div class="card-body card-boarder">
                        <h5 class="">{{this.title}}</h5>
                        <p>Size : {{this.size}}</p>
                        <p>{{this.medium}} - {{this.quality}}</p>
                        <div class="card-price mt-2">
                            <h4 class="text-dark">₹ {{this.price}}</h4>
                            {{#if this.ogPrice}}
                            <h6>₹{{this.ogPrice}}</h6>
                            <i class='bx bxs-offer'></i>
                            <h6> {{this.percentage}}% off</h6>
                            {{/if}}
                        </div>
                        <small>Free delivery</small>

                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{>footer}}

<script>
</script>