{{>user-top}}

<div class="container user-page">
    <div class=" flex-grow-1 container-p-y row">
        <h4 class="fw-bold  mb-4">{{NOW_CAT}}s </h4>
        {{#each product}}
        <div class="col-sm-6 col-lg-3 mb-4">
            <a class="text-secondary" href="/list/{{this.category}}/{{this.prId}}/view">
                <div class="card h-100">
                    <img class="card-img-top" src="/images/products/{{this.image.[0]}}" alt="product image" />
                    <div class="heart-icon">
                        <i class='bx bxs-heart'></i>
                    </div>
                    <div class="card-body card-boarder">
                        <h5 class="">{{this.title}}</h5>
                        <p>Size : {{this.size}}</p>
                        <p>{{this.medium}} - {{this.quality}}</p>
                        <div class="card-rate mt-2">
                            <div class="artist-rate-card section-two" title="artist-rate">
                                <div class="rate">
                                    <p><i class='bx bxs-star'></i> 3.7</p>
                                </div>

                            </div>
                            <div class="favorite">
                                <i class='bx bxs-heart'></i>
                                <p>(500)</p>
                            </div>
                        </div>
                        <div class="card-price mt-2">
                            <h4 class="text-dark">₹ {{this.price}}</h4>
                            <h6>₹4000</h6>
                            <i class='bx bxs-offer'></i>
                            <h6> 25% off</h6>
                        </div>
                        <small>Free delivery</small>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>