{{>user-top}}
<div class="container user-search-page pt-3 mb-5">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="border-radius: 10px;">
                <div class="app-brand demo">
                    <span class=" filter-logo "> <i class='bx bx-filter-alt'></i> Filter</span>
                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <ul class="menu-inner py-1">
                    <form action="/search" id="filterForm" method="get">
                        <li class="menu-item px-2">
                            {{!-- Section Start --}}
                            <div class="mb-3">
                                <p class="text-dark fw-semibold">CATEGORY</p>
                                <div class=" ">
                                    <div class="list-group">
                                        {{#each categoryList}}
                                        <label class="list-group-item">
                                            <input class="form-check-input me-1 cursor-pointer" type="checkbox"
                                                name="category" {{#if this.tick}}checked{{/if}} value="{{this.title}}"
                                                onchange="filterProduct()" />
                                            {{this.title}}
                                        </label>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{!-- Section End --}}
                        </li>
                        <li class="menu-item px-2">
                            {{!-- Section Start --}}
                            <p class="text-dark fw-semibold">MEDIUM</p>
                            <div class="mb-3 ">
                                <div class="list-group">
                                    {{#each optionList.medium}}
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1 cursor-pointer" type="checkbox"
                                            value="{{this.name}}" {{#if this.tick}}checked{{/if}} name="medium"
                                            onchange="filterProduct()" />
                                        {{this.name}}
                                    </label>
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- Section End --}}
                        </li>
                        <li class="menu-item px-2">
                            {{!-- Section Start --}}
                            <p class="text-dark fw-semibold">SURFACE</p>
                            <div class=" mb-3">
                                <div class="list-group">
                                    {{#each optionList.surface}}
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1 cursor-pointer" type="checkbox"
                                            value="{{this.name}}" {{#if this.tick}}checked{{/if}} name="surface"
                                            onchange="filterProduct()" />
                                        {{this.name}}
                                    </label>
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- Section End --}}
                        </li>
                        <li class=" menu-item px-2">
                            {{!-- Section Start --}}
                            <p class="text-dark fw-semibold">QUALITY</p>
                            <div class="mb-3 ">
                                <div class="list-group">
                                    {{#each optionList.quality}}
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1 cursor-pointer " type="checkbox"
                                            value="{{this.name}}" {{#if this.tick}}checked{{/if}} name="quality"
                                            onchange="filterProduct()" />
                                        {{this.name}}
                                    </label>
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- Section End --}}
                        </li>
                    </form>
                </ul>

            </aside>

            <div class="container-fluid">
                <div class="row" id="resultShowDiv">
                    {{!--  --}}
                    <div class="check-account container">
                        <div class="box-boreder">
                            <div>
                                <img class="" src="/images/icon/no-result.gif" alt="">
                                <h4 class="mt-3">Search Paintings 
                                </h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{>footer}} --}}
<script>
    let products = null
    function getProduct() {
        $.ajax({
            url: '/get-all-product',
            data: {
            },
            method: 'post',
            success: (product) => {
                products = product
                storeProduct()
               
            }
        })
    }
    getProduct()

    function storeProduct() {
        return products
    }

</script>