{{>user-top}}
<div class="container user-page">
    <div class=" flex-grow-1 container-p-y">
        <h4 class="fw-bold  mb-4">Account</h4>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><i class='bx bxs-user me-1'></i>
                            Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/address"><i class='bx bxs-map'></i> Manage Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist"><i class='bx bxs-heart'></i> Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/order"><i class='bx bxs-package'></i> Orders</a>
                    </li>
                </ul>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="/images/user/{{user.image}}" alt="user-avatar" class="d-block rounded"
                                height="100" onerror="this.onerror=null;callfun(this);" width="100"
                                id="uploadedAvatar" />
                            <div class="button-wrapper">


                                <h5 class="text-dark mb-1 ">{{user.firstName}} {{user.lastName}}</h5>
                                <p class="text-muted mb-1">UR ID : {{user.urId}}</p>

                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body rounded-3 "
                        style="background-color: rgb(226, 226, 226); padding:20px 10px 10px 10px;">
                        {{#if order}}
                        {{#each order}}
                        {{#if this.show}}
                        <div class="card p-3 mb-3">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-7">
                                    <p class="fw-bold text-dark">Delivery address</p>
                                    <p class="fw-bold text-dark">{{this.address.name}}</p>
                                    <p class="text-dark">{{this.address.landmark}}, {{this.address.locality}},
                                        {{this.address.area}}, {{this.address.city}}
                                        -{{this.address.pincode}} <br>
                                        {{this.address.state}}
                                    </p>
                                    <p class="fw-bold text-dark m-0">Mobile Number</p>
                                    <p class=" text-dark">{{this.address.phone}}</p>
                                </div>
                                <div class="col-md-4 col-sm-6 col-5">
                                    <h6 class=" text-end text-dark">Total Amount <br> ₹ {{this.amount}}.00</h6>
                                    {{#if this.Cancelled }}
                                    <p class=" text-end text-dark">Cancelled on {{this.cancelDate}}
                                    </p>
                                    {{else}}
                                    <p class=" text-end text-dark">Delivery expected by {{this.deliveryDate}}
                                    </p>
                                    {{/if}}
                                    <p class="text-end order-list-small text-dark"><span
                                            class="status status-{{this.status}} p-0 me-2"></span>
                                        Your Order has been
                                        {{this.status}}.</p>
                                    {{#if this.Cancelled }}{{else}} {{#if this.Delivered}} {{else}}
                                    <div>
                                        <p class="text-end text-primary cursor-pointer"
                                            onclick="cancelUserOrder('{{this.orId}}','')" class="text-primary">
                                            <i class='bx bxs-message-square-x'></i> Cancel Order ?
                                        </p>
                                    </div>
                                    {{/if}}{{/if}}
                                    <div class="d-flex justify-content-end">
                                        {{#if this.Delivered}}
                                        <button onclick="PrintDiv('print-container','Bristles.in')"
                                            data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                                            data-bs-html="true" title="Print Invoice"
                                            class="btn btn-sm text-dark fw-bold btn-warning"><i
                                                class='bx bx-printer'></i> Invoice</button>
                                        {{/if}}
                                        <a data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                                            data-bs-html="true" title="Download XL File"
                                            class="btn btn-sm text-white fw-bold btn-success ms-1"
                                            href="/order/xl-file?orId={{this.orId}}"><i class='bx bx-spreadsheet'></i>
                                            XL file</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card p-3 mb-3">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="d-flex">
                                        <img class="order-list-image" src="/images/products/{{this.image.[0]}}" alt="">
                                        <div class="d-none d-sm-block">
                                            <h6 class="m-0 mb-2  text-dark">{{this.title}}_{{this.prId}}_{{this.size}}
                                            </h6>
                                            <p class="m-1 ">Category : {{this.category}}</p>
                                            <p class="m-1 ">Order ID : {{this.orId}}</p>
                                            <p class="m-1 ">{{this.date}}</p>
                                            <p class="m-1 ">Payment Methord : {{this.methord}}</p>
                                            <p hidden id="productId">{{this.prId}}</p>
                                            <p hidden id="productPrice">{{this.price}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">

                                    <div class="row">
                                        <div class="col-12 col-md-10 hh-grayBox pt45 pb20 w-100">
                                            <div class="row justify-content-between aligh-items-center ">
                                                {{#if this.Pending}}
                                                <p class="text-center">Your Order is Pending ..!<br>
                                                    <button class="btn btn-primary mt-2"
                                                        onclick="pendingPayment('{{this.orId}}','{{this.amount}}','{{this.address.name}}','{{this.address.phone}}')">
                                                        Pay Now</button>
                                                </p>
                                                {{else}}
                                                {{#if this.Cancelled}}
                                                <div class="order-cancel  completed ">
                                                    <span class="is-complete"></span>
                                                    <p>Ordered<br><span>{{this.date}}</span></p>
                                                </div>
                                                <div class="order-cancel cancelled">
                                                    <span class="is-complete"></span>
                                                    <p>Cancelled<br><span>{{this.cancelDate}}</span></p>
                                                </div>
                                                {{else}}
                                                <div class="order-tracking {{#if this.Placed}} completed {{/if}}
                                                {{#if this.Shipped}} completed {{/if}} {{#if this.OutForDelivery}}
                                                 completed {{/if}} {{#if this.Delivered}} completed {{/if}} 
                                                 {{#if this.Cancelled}} completed {{/if}}">
                                                    <span class="is-complete"></span>
                                                    <p>Ordered<br><span>{{this.date}}</span></p>
                                                </div>
                                                <div class="order-tracking 
                                                {{#if this.Shipped}} completed {{/if}} {{#if this.OutForDelivery}}
                                                 completed {{/if}} {{#if this.Delivered}} completed {{/if}}">
                                                    <span class="is-complete"></span>
                                                    <p>Shipped</p>
                                                </div>
                                                <div class="order-tracking {{#if this.OutForDelivery}}
                                                 completed {{/if}} {{#if this.Delivered}} completed {{/if}}">
                                                    <span class="is-complete"></span>
                                                    <p>Out for delivery</p>
                                                </div>
                                                <div class="order-tracking {{#if this.Delivered}} completed {{/if}}">
                                                    <span class="is-complete"></span>
                                                    <p>Delivered<br><span>{{this.deliveryDate}}</span></p>
                                                </div>
                                                {{/if}} {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                        {{#if order.[1]}}
                        <div class="card p-3 mb-3">
                            <div>
                                <p class="fw-bold text-dark">Other items in this order</p>
                            </div>
                            <hr class="my-0" />
                            <div class="row mt-3">
                                {{#each order}}
                                {{#if this.show}}
                                {{else}}
                                <div class="col-12 col-md-6 mb-3">
                                    <a href="/order/details?urId={{this.urId}}&orId={{this.orId}}&prId={{this.prId}}"
                                        class="text-dark">
                                        <div class="d-flex">
                                            <img class="order-list-image" src="/images/products/{{this.image.[0]}}"
                                                alt="">
                                            <div class="d-none d-sm-block">
                                                <h6 class="m-0 mb-2  text-dark">
                                                    {{this.title}}_{{this.prId}}_{{this.size}}
                                                </h6>
                                                <p class="m-1 ">Category : {{this.category}}</p>
                                                <p class="m-1 ">Medium : {{this.medium}}</p>
                                                <p class="m-1 ">{{this.date}}</p>
                                                {{#if this.Cancelled}}
                                                <p class="m-1 text-danger"><i class='bx bxs-info-circle'></i> This
                                                    Product Cancelled !</p>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}

                    </div>
                    {{else}}
                    <div class="d-flex justify-content-center">

                        <div>
                            <div style="width: 100%; " class="d-flex justify-content-center">
                                <img style="width: 100px;" src="/images/icon/blocked.png" alt="">
                            </div>
                            <h4 class="mt-3">Request is not valid</h4>
                            <a href="/order" class="btn btn-primary w-100">Go to My Orders</a></h4>
                        </div>

                    </div>
                    {{/if}}



                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>print-invoice}}
<script>
    document.getElementById('order').className = "dropdown-item active"


    // Pnding Payment
    function pendingPayment(orId, amount, name, phone) {
       
        $.ajax({
            url: '/pending-payment',
            data: {
                orId,
                amount, name, phone
            },
            method: 'post',
            success: (response) => {
                razorepayPayment(response)
            }
        })
    }
</script>