{{>artist-side}}
{{>artist-top}}

<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        <h4 class="fw-bold  mb-4">Account</h4>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">

                   <li class="nav-item">
                        <a class="nav-link " href="/artist/profile"><i class='bx bxs-user me-1'></i>
                            Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/artist/change-password"><i class='bx bxs-lock-open-alt'></i> Change password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/artist/change-email"><i class='bx bxs-envelope'></i> Change email</a>
                    </li>

                </ul>

                <div class="card mb-4">

                    <!-- Account -->
                    <form action="/artist/change-password" method="post"
                        id="userProfileEditForm" onsubmit="return userChangePassword()">
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <span class="camera-icon-div">
                                    <img src="/images/artist/{{artist.image}}" alt="user-avatar" class="d-block rounded"
                                        height="100" width="100" id="uploadedProfile"
                                        onerror="this.onerror=null;callfun(this);" />
                                </span>
                                <div class="button-wrapper">


                                    <h5 class="text-dark mb-1 ">{{artist.firstName}} {{artist.lastName}}</h5>
                                    <p class="text-muted mb-1">AR ID : {{artist.arId}}</p>
                                    

                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />


                        {{!-- Hidden Inputes --}}
                        <input type="text" name="arId" value="{{artist.arId}}" hidden>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="col-12 col-md-6">
                                    <h5>Change Password</h5>
                                    <div class="mb-3 col-12">
                                        <label for="currentPassword" class="form-label">Current Passowrd</label>
                                        <input class="form-control" type="password" id="currentPassword"
                                            name="currentPassword"  />
                                        <small class="text-danger" id="currentAlert" style="display: none;"></small>

                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="newPassword" class="form-label">NEW PASSWORD</label>
                                        <input class="form-control" type="password" id="newPassword" name="newPassword" />
                                        <small class="text-danger" id="newAlert" style="display: none;"></small>
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label for="confirmPassword" class="form-label">confirm Password</label>
                                        <input class="form-control" type="password" id="confirmPassword" />
                                        <small class="text-danger" id="confirmAlert" style="display: none;"></small>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-end col-12 ">
                                        <a href="/profile/change-password"
                                            class="btn btn-secondary col-md-3 col-sm-5 col-6 me-1">Reset</a>
                                        <button type="submit"
                                            class="btn btn-primary col-md-3 col-sm-5 col-6">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /Account -->
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Sidebar Action --}}
<script>
    document.getElementById('profile').classList += " active"
</script>