{{>artist-top}} {{>artist-side}}

<div class="admin-content-page-over">
    <div class=" container-fluid top-page-padding">
        <h4 class="fw-bold  mb-4">Pending List</h4>
        <!-- Basic Layout -->
        <div class="pb-3 d-flex justify-content-end">
            <a href="/artist/product-list/add-product">
                <button type="button" class="btn btn-success"><i class='bx bx-plus-circle'></i> Add Products</button>
            </a>
        </div>
        <!-- Hoverable Table rows -->
        <div class="admin-table-div">

            <div class="table-responsive">
                <table class="table table-hover css-serial" id="table_id">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>PR ID</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {{#each productList}}
                        <tr>
                            <td></td>
                            <td>{{this.prId}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.category}}</td>
                            <td>₹ {{this.price}}</td>
                            <td><span class="status status-{{this.status}}">{{this.status}}</span></td>
                            <td>
                                <span class="table-action-td">
                                    <a href="/artist/pending-list/{{this.prId}}/view " data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="View">
                                        <button type="button" class="btn rounded-pill btn-icon btn-dark">
                                            <span class="tf-icons bx bxs-show"></span>
                                        </button>
                                    </a>
                                    {{#if this.pending}}
                                    <a href="/artist/pending-list/{{this.prId}}/edit " data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="Edit">
                                        <button type="button" class="btn rounded-pill btn-icon btn-primary">
                                            <span class="tf-icons bx bxs-edit-alt"></span>
                                        </button>
                                    </a>
                                    {{/if}}
                                    <a href="/artist/pending-list/{{this.prId}}/delete" data-bs-toggle="tooltip"
                                        data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="Delete"
                                        onclick="return confirm('Are you remove this product?')">
                                        <button type="button" class="btn rounded-pill btn-icon btn-danger">
                                            <span class="tf-icons bx bx-trash"></span>
                                        </button>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{!-- Sidebar Action --}}
<script>
    document.getElementById('pending').classList += " active"
</script>